//baseWidth
$base-width: 1120px;
$header-height: 80px;

//font
$main-fonts: 'Montserrat', sans-serif;
$notosans-fonts: 'Noto Sans JP', sans-serif;
$jp-fonts: '游ゴシック', YuGothic, 'ヒラギノ角ゴ Pro',
  'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;

//color common
$white-01: #fff;

$red-01: #a93f4f;

$black-01: #000;

$gray-01: #E9E9E9;
$gray-02: #949494;

