@use '../abstracts/' as *;

/*------------------------------------------------------------
    Header
------------------------------------------------------------*/
/* HEADER */

.c-header {
  background: $white-01;
  padding: 0 22px;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: 0 auto;
    padding: 0 22px;
  }

  &__logo {
    img {
      height: 53px;
      display: block;
    }
  }

  &__nav {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    justify-content: center;
    gap: 32px;
    border-bottom: 1px solid $gray-01;
    padding: 0 20px;
  }

  &__item {
    position: relative;

    a {
      display: block;
      padding: 8px 0;
      font-size: 1.4rem;
      color: #949494;
      text-decoration: none;
      white-space: nowrap;

      &:hover {
        color: #0D0D0D;
      }
    }

    &.is-active a {
      color: #0D0D0D;
    }

    &.is-active::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: #DF276C;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  }
}

/* END HEADER */
/* ===================================================================== */
