@use '../abstracts/' as *;

$-padding: 20px;

/*------------------------------------------------------------
    Layout
------------------------------------------------------------*/
.l-container {
  width: 100%;
  max-width: $base-width;
  margin: 0 auto;
  padding: 0 $-padding;
}

//-------------------------------------------------------
