@use '../abstracts/' as *;
@use 'sass:color';

.c-contact {
  padding: 35px 50px;
  background: #fff;
  margin-top: 67px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.c-contact__head {
  text-align: center;
}

.c-contact__title {
  font-size: 3.4rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.c-contact__sub {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  color: #BFBFBF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.c-contact__icon {
  margin-left: 10px;
}

/* CONTENT */
.c-contact__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  border-bottom: 1px dashed #C4C4C4;
  padding: 40px 0;
}

/* LEFT */
.c-contact__phone-label {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

.c-contact__phone-number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  a {
    font-size: 4.2rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
  }
}

.c-contact__phone-icon {
  width: 45px;
  height: 45px;
}

.c-contact__phone-time {
  font-size: 1.2rem;
  color: #878787;
  text-align: center;
  font-weight: bold;
}

/* RIGHT */
.c-contact__support {
  &-cols {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.c-contact__staff {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.c-contact__support-title {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.7;
  color: #01217D;
}

.c-contact__support-note {
  font-size: 12px;
  color: #363838;
  text-align: center;
  margin-top: 5px;
}

.c-contact__mail {
  padding: 33px 40px;
  margin-top: 52px;
  background: linear-gradient(180deg, rgba(252, 252, 252, 1) 0%, rgba(245, 245, 245, 1) 100%);
}

/* HEAD */
.c-contact__mail-head {
  position: relative;
  padding-left: 64px;
  margin-bottom: 32px;
  color: #2E2E2E;
}

.c-contact__mail-head::before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 56px;
  height: 45px;
  background-image: url("../images/common/icon-email.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.c-contact__mail-head h2 {
  font-size: 2rem;
  margin-bottom: 4px;
  font-weight: bold;
}

.c-contact__mail-head p {
  font-size: 1.4rem;
  color: #666;
}

/* FORM */
.c-contact__mail__form .form-row {
  margin-bottom: 20px;
}

.c-contact__mail__form label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #515151;
}

.c-contact__mail__form label span {
  color: #D24A68;
  font-size: 12px;
}

.c-contact__mail__form input,
.c-contact__mail__form textarea {
  width: 100%;
  border: 1px solid rgba(220, 216, 216, 0.75);
  padding: 10px 12px;
  font-size: 14px;
  background: #fff;
}

.c-contact__mail__form textarea {
  height: 120px;
  resize: vertical;
}

/* SUBMIT */
.form-submit {
  text-align: center;
  margin-top: 30px;
}

.form-submit button {
  width: 200px;
  height: 44px;
  border-radius: 999px;
  border: none;
  background: #fde2e2;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.form-submit button:disabled {
  pointer-events: none;
}

.form-submit button:not:disabled:hover {
  opacity: 0.85;
}

.c-contact__note {
  margin-top: 30px;
  font-size: 1.4rem;
  color: #707070;
}