@use '../abstracts' as *;

/*------------------------------------------------------------
    Hamburger
------------------------------------------------------------*/
.c-hamburger {
  display: block;
  width: 32px;
  height: 24px;
  background: none;
  border: none;
  cursor: pointer;

  span {
    display: block;
    height: 2px;
    background: #C8C8C8;

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}