@use '../abstracts' as *;

.product-modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 9999;

  .c-contact__content {
    border-top: 1px dashed #C4C4C4;
  }
}

.product-modal.is-open {
  display: block;
}

.product-modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.product-modal__logo {
  width: 126px;
}

.product-modal__content {
  position: relative;
  width: 100%;
  max-width: 1080px;
  max-height: calc(100vh - 40px);
  margin: 20px auto;
  background: #fff;
  border-radius: 8px;
  animation: fadeUp .3s ease;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.product-modal__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 40px;
}

.product-modal__inner {
  border-top: 2px solid #D6D6D6;
  background: #FEEEEB;
  display: flex;
  gap: 40px;
  flex: 1;
  overflow-y: auto;

  .l-container {
    max-width: 1040px;
  }
}

.product-modal__box {
  background: #fff;
  border-top: 9px solid #FFB1BF;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin: 30px 0 37px;
  padding: 30px 20px;
}

.product-modal__list {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 460px);
  margin-bottom: 40px;
}

.product-modal__spec {
  margin-top: 40px;

  &-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  &-list {
    border: 1px solid #333;
  }

  &-row {
    display: grid;
    grid-template-columns: 220px 1fr;
    border-bottom: 1px solid #333;

    &:last-child {
      border-bottom: none;
    }
  }

  &-term {
    background: #f5f5f5;
    padding: 14px 16px;
    font-weight: 600;
    border-right: 1px solid #333;
  }

  &-desc {
    padding: 14px 16px;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-modal__image img {
  width: 350px;
}

.product-modal__close {
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}