@use '../abstracts/' as *;

/*------------------------------------------------------------
    Other
------------------------------------------------------------*/
.c-breadcrumb {
  display: table;

  &__item {
    margin-right: 35px;
    position: relative;
    display: inline;
    font-size: 1.3rem;
    font-family: $notosans-fonts;

    &::after {
      position: absolute;
      content: '>';
      font-size: 1.3rem;
      line-height: 1.6;
      margin-left: 14px;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

.wheelchair-types {
  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 25px 30px;
    margin-top: 50px;
  }

  &__card {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    padding: 24px;
    position: relative;
    overflow: hidden;
    color: #515151;
    width: 100%;
    max-width: 340px;

    &::before {
      position: absolute;
      content: "";
      background: #FFB1BF;
      width: 100%;
      height: 9px;
      top: 0;
      left: 0;
    }

    h3 {
      font-size: 2.8rem;
      margin-bottom: 12px;
      padding-bottom: 10px;
      padding-left: 10px;
      border-bottom: 1px solid #DEDEDE;
      position: relative;

      span {
        font-size: 1.9rem;
      }

      &::before {
        position: absolute;
        content: "";
        background-color: #FF9ABD;
        width: 6px;
        height: 24px;
        top: 10px;
        left: 0;
        border-radius: 2px;
      }

      &::after {
        position: absolute;
        content: "";
        background-image: url(../images/common/icon-arr-right-w.png);
        background-color: #F0A9B9;
        background-size: 6px 10px;
        background-repeat: no-repeat;
        background-position: center;
        width: 25px;
        height: 25px;
        top: 10px;
        right: 0;
        border-radius: 50%;
      }
    }

    &-content {
      position: relative;
      display: grid;
      grid-template-columns: minmax(0, 127px) minmax(0, 1fr);

      p {
        line-height: 1.6;
        padding-left: 20px;
      }
    }

    &__price {
      display: inline-block;
      font-size: 16px;
      font-weight: 700;
      background: #FFEBE8;
      color: #727272;
      border-radius: 20px;
      width: 100%;
      text-align: center;
      margin-top: 36px;
      padding: 2px 5px;

      span {
        font-size: 1.2rem;
      }
    }

    &--last {
      background: transparent;
      max-width: 680px;
      box-shadow: none;
      padding: 20px 0;

      &::before {
        display: none;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 10px;

        li {
          font-size: 1.2rem;
          color: #707070;
        }
      }
    }

    &-cols {
      border-top: 1px dashed #C4C4C4;
      border-bottom: 1px dashed #C4C4C4;
      padding: 30px 10px;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 264px);
      gap: 10px;
      margin-top: 20px;
    }

    &-service {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;

      figure {
        width: 87px;
      }

      p {
        width: 240px;
        padding-left: 10px;
        font-weight: bold;
        color: #01217D;
      }
    }

    &-note {
      width: 100%;
      font-size: 1.2rem;
      text-align: center;
      color: #363838;
      margin-top: 5px;
      font-weight: bold;
    }

    &-tel {
      text-align: center;
      color: #000000;
      margin-top: 10px;
    }

    &-phone {
      font-size: 3.1rem;
      font-weight: bold;
      padding: 5px 0;

      img {
        width: 45px;
        height: 45px;
      }
    }
  }
}

/*------------------------------------------------------------
other
------------------------------------------------------------*/