@use '../abstracts' as *;

.c-tabs {
  background: #fff;
  width: 100%;
}

.c-tabs__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1010px;
}

.c-tabs__item a {
  display: block;
  padding: 11px 25px;
  border: 1px solid #DEDFE1;
  border-bottom: none;
  background: #F9F9F9;
  color: rgba(51, 51, 51, 0.4);
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
  transition: 0.2s;
  font-weight: bold;
}

.c-tabs__item a:hover {
  background: #eee;
}

.c-tabs__item.is-active a {
  background: linear-gradient(180deg, rgba(254, 238, 235, 1) 0%, rgba(255, 209, 207, 1) 50%, rgba(254, 238, 235, 1) 100%);
  color: #333;
  border-color: #FFB1BF;
  font-size: 1.8rem;
  line-height: 1.25;
}