@use '../abstracts' as *;

/*------------------------------------------------------------
title
------------------------------------------------------------*/

.c-title {
  
}

/*
------------------------------------------------------------*/